In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime
import pandas as pd

In [2]:
mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [3]:
# traffic YEAR-2020
traffic = pd.read_csv('X:\RA_AirQuality\Datasets\\traffic\year-2020.csv')
traffic.head()

,COUNTSTATIONID,COUNTDATE,COUNTDIR,HOUR0,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,...,HOUR15,HOUR16,HOUR17,HOUR18,HOUR19,HOUR20,HOUR21,HOUR22,HOUR23,FormattedDate
0,511,20200101,P,1689,1649,1508,1067,1073,1134,1206,...,3141,2976,2825,2390,2187,1920,1764,1297,830,01/01/2020
1,511,20200101,S,1207,1117,881,593,509,743,915,...,3014,2838,2814,2366,2195,1992,1606,1637,1207,01/01/2020
2,511,20200102,P,545,338,369,756,1200,2453,3721,...,4142,3767,3890,3489,2593,2155,1816,1609,1022,01/02/2020
3,511,20200102,S,687,402,350,439,1049,2451,3780,...,2854,2220,2201,3248,2486,2049,1784,1683,1191,01/02/2020
4,511,20200103,P,623,475,487,776,1187,2455,3620,...,4036,3900,3990,3684,2806,2402,2222,1921,1306,01/03/2020

In [4]:
traffic = traffic.drop(columns=["COUNTDATE","COUNTSTATIONID"])

In [5]:
traffic['DateTime'] = pd.to_datetime(traffic.FormattedDate)
traffic.tail()

,COUNTDIR,HOUR0,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,...,HOUR16,HOUR17,HOUR18,HOUR19,HOUR20,HOUR21,HOUR22,HOUR23,FormattedDate,DateTime
679,S,619,301,309,388,685,1710,2880,3050,3069,...,3513,4147,2836,2379,1667,1246,1153,882,12/29/2020,2020-12-29
680,P,427,370,370,464,873,2091,3257,3631,3389,...,4309,4095,3294,2626,1841,1183,770,705,12/30/2020,2020-12-30
681,S,475,369,328,384,779,1963,3337,3550,3580,...,4088,4153,2801,2287,1718,1506,1309,1034,12/30/2020,2020-12-30
682,P,505,379,413,455,655,1727,2948,3152,2808,...,3813,3285,2886,2158,1783,1502,1123,883,12/31/2020,2020-12-31
683,S,584,424,399,400,680,1669,2807,3063,3049,...,4052,3538,2745,2469,1940,1452,1247,954,12/31/2020,2020-12-31

In [6]:
traffic = traffic[['DateTime','COUNTDIR','HOUR0','HOUR1','HOUR2','HOUR3','HOUR4','HOUR5','HOUR6','HOUR7','HOUR8','HOUR9','HOUR10','HOUR11','HOUR12','HOUR13','HOUR14','HOUR15','HOUR16','HOUR17','HOUR18','HOUR19','HOUR20','HOUR21','HOUR22','HOUR23','FormattedDate']]

In [7]:
traffic = traffic.drop(columns=["FormattedDate"])

In [8]:
traffic_non_indexed = traffic

In [9]:
traffic_non_indexed.head()

,DateTime,COUNTDIR,HOUR0,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,...,HOUR14,HOUR15,HOUR16,HOUR17,HOUR18,HOUR19,HOUR20,HOUR21,HOUR22,HOUR23
0,2020-01-01,P,1689,1649,1508,1067,1073,1134,1206,1369,...,3112,3141,2976,2825,2390,2187,1920,1764,1297,830
1,2020-01-01,S,1207,1117,881,593,509,743,915,1184,...,2948,3014,2838,2814,2366,2195,1992,1606,1637,1207
2,2020-01-02,P,545,338,369,756,1200,2453,3721,3878,...,4153,4142,3767,3890,3489,2593,2155,1816,1609,1022
3,2020-01-02,S,687,402,350,439,1049,2451,3780,3917,...,3297,2854,2220,2201,3248,2486,2049,1784,1683,1191
4,2020-01-03,P,623,475,487,776,1187,2455,3620,3710,...,3727,4036,3900,3990,3684,2806,2402,2222,1921,1306

In [10]:
traffic = traffic.set_index('DateTime')

In [11]:
traffic.head()

,COUNTDIR,HOUR0,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,HOUR8,...,HOUR14,HOUR15,HOUR16,HOUR17,HOUR18,HOUR19,HOUR20,HOUR21,HOUR22,HOUR23
DateTime,,,,,,,,,,,,,,,,,,,,,
2020-01-01,P,1689,1649,1508,1067,1073,1134,1206,1369,1753,...,3112,3141,2976,2825,2390,2187,1920,1764,1297,830
2020-01-01,S,1207,1117,881,593,509,743,915,1184,1481,...,2948,3014,2838,2814,2366,2195,1992,1606,1637,1207
2020-01-02,P,545,338,369,756,1200,2453,3721,3878,3644,...,4153,4142,3767,3890,3489,2593,2155,1816,1609,1022
2020-01-02,S,687,402,350,439,1049,2451,3780,3917,3499,...,3297,2854,2220,2201,3248,2486,2049,1784,1683,1191
2020-01-03,P,623,475,487,776,1187,2455,3620,3710,3437,...,3727,4036,3900,3990,3684,2806,2402,2222,1921,1306

In [12]:
# sFTP SAMS YEAR-2020
sftp_sams = pd.read_csv('X:\RA_AirQuality\Datasets\sftp-sams\hourly\year-2020.csv')
sftp_sams.head()

,DateTime,Ambient Avg Temperature(SAMS|sFTP),Carbon monoxide(SAMS|sFTP),Nitric oxide(SAMS|sFTP),Nitrogen dioxide(SAMS|sFTP),PM10 Total 0-10um STP(SAMS|sFTP),PM2.5 - Local Conditions(SAMS|sFTP),Relative Humidity(SAMS|sFTP),Wind Direction(SAMS|sFTP),Wind speed(SAMS|sFTP)
0,1/1/2020 1:00,-9.3,1.30,102.78,53.83,0.2,NaN,70.2,140.27,0.32
1,1/1/2020 2:00,-9.3,1.52,135.02,56.32,0.2,NaN,70.2,177.53,0.77
2,1/1/2020 3:00,-9.3,1.26,93.49,53.40,0.2,NaN,70.2,166.56,0.80
3,1/1/2020 4:00,-9.3,1.15,73.48,50.81,0.2,NaN,70.2,140.86,0.61
4,1/1/2020 5:00,-9.3,0.81,46.26,44.70,0.2,NaN,70.2,155.50,0.51

In [13]:
sftp_sams = sftp_sams.rename(columns={"Ambient Avg Temperature(SAMS|sFTP)":"Temp","Carbon monoxide(SAMS|sFTP)":"CO","Nitric oxide(SAMS|sFTP)":"NO","Nitrogen dioxide(SAMS|sFTP)":"NO2","PM10 Total 0-10um STP(SAMS|sFTP)":"PM10","PM2.5 - Local Conditions(SAMS|sFTP)":"PM2.5","Relative Humidity(SAMS|sFTP)":"Humidity","Wind Direction(SAMS|sFTP)":"Wind Dir","Wind speed(SAMS|sFTP)":"Wind Speed"})

In [14]:
sftp_sams.head()

,DateTime,Temp,CO,NO,NO2,PM10,PM2.5,Humidity,Wind Dir,Wind Speed
0,1/1/2020 1:00,-9.3,1.30,102.78,53.83,0.2,NaN,70.2,140.27,0.32
1,1/1/2020 2:00,-9.3,1.52,135.02,56.32,0.2,NaN,70.2,177.53,0.77
2,1/1/2020 3:00,-9.3,1.26,93.49,53.40,0.2,NaN,70.2,166.56,0.80
3,1/1/2020 4:00,-9.3,1.15,73.48,50.81,0.2,NaN,70.2,140.86,0.61
4,1/1/2020 5:00,-9.3,0.81,46.26,44.70,0.2,NaN,70.2,155.50,0.51

In [15]:
sftp_sams['DateTime'] = pd.to_datetime(sftp_sams.DateTime)
sftp_sams.tail()

,DateTime,Temp,CO,NO,NO2,PM10,PM2.5,Humidity,Wind Dir,Wind Speed
8010,2020-12-31 20:00:00,NaN,0.43,NaN,30.82,36.52,17.26,57.00,129.04,1.18
8011,2020-12-31 21:00:00,NaN,0.35,NaN,26.54,26.58,13.49,57.00,113.10,1.26
8012,2020-12-31 22:00:00,NaN,0.29,NaN,25.45,28.40,11.18,57.00,110.54,1.68
8013,2020-12-31 23:00:00,NaN,0.25,NaN,26.50,20.73,11.05,57.00,102.12,1.71
8014,2021-01-01 00:00:00,NaN,0.38,NaN,40.45,27.82,16.04,57.26,98.08,1.63

In [16]:
sftp_sams = sftp_sams.set_index('DateTime')

In [17]:
sftp_sams.tail()

,Temp,CO,NO,NO2,PM10,PM2.5,Humidity,Wind Dir,Wind Speed
DateTime,,,,,,,,,
2020-12-31 20:00:00,NaN,0.43,NaN,30.82,36.52,17.26,57.00,129.04,1.18
2020-12-31 21:00:00,NaN,0.35,NaN,26.54,26.58,13.49,57.00,113.10,1.26
2020-12-31 22:00:00,NaN,0.29,NaN,25.45,28.40,11.18,57.00,110.54,1.68
2020-12-31 23:00:00,NaN,0.25,NaN,26.50,20.73,11.05,57.00,102.12,1.71
2021-01-01 00:00:00,NaN,0.38,NaN,40.45,27.82,16.04,57.26,98.08,1.63

In [18]:
# s=pd.concat([traffic]*len(sftp_sams),axis=1)
# s.columns=sftp_sams.index
# sftp_sams=sftp_sams.join(s.T.add_prefix('hour_'))

ValueError: Length mismatch: Expected axis has 200375 elements, new values have 8015 elements

In [19]:
N = 2
combined_traffic = traffic_non_indexed.groupby(traffic_non_indexed.index // N).sum()

In [26]:
traffic_non_indexed.tail()

,DateTime,COUNTDIR,HOUR0,HOUR1,HOUR2,HOUR3,HOUR4,HOUR5,HOUR6,HOUR7,...,HOUR14,HOUR15,HOUR16,HOUR17,HOUR18,HOUR19,HOUR20,HOUR21,HOUR22,HOUR23
679,2020-12-29,S,619,301,309,388,685,1710,2880,3050,...,4305,2433,3513,4147,2836,2379,1667,1246,1153,882
680,2020-12-30,P,427,370,370,464,873,2091,3257,3631,...,4161,4389,4309,4095,3294,2626,1841,1183,770,705
681,2020-12-30,S,475,369,328,384,779,1963,3337,3550,...,4649,4160,4088,4153,2801,2287,1718,1506,1309,1034
682,2020-12-31,P,505,379,413,455,655,1727,2948,3152,...,4170,3939,3813,3285,2886,2158,1783,1502,1123,883
683,2020-12-31,S,584,424,399,400,680,1669,2807,3063,...,4423,4395,4052,3538,2745,2469,1940,1452,1247,954