In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
from datetime import datetime
import pandas as pd

In [2]:
mpl.rcParams['figure.figsize'] = (8, 6)
mpl.rcParams['axes.grid'] = False

In [3]:
def convert_to_date(x):
    return datetime.strptime(x, '%Y %m %d %H')

In [4]:
# weather YEAR-2020
weather = pd.read_csv('X:\RA_AirQuality\Datasets\weather\\aurora-buckley-filtered.csv')
weather.head()

,STATION,DATE,AA1,AJ1,AL1,AT1,DEW,KA1,OC1,MD1,LATITUDE,LONGITUDE,ELEVATION,SLP,TMP,VIS,WND
0,72469523036,2020-01-01T00:58:00,NaN,NaN,NaN,NaN,"-0116,1",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10126,1","+0001,1","016093,1,9,9","190,1,N,0031,1"
1,72469523036,2020-01-01T01:58:00,NaN,NaN,NaN,NaN,"-0123,1",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10127,1","-0016,1","016093,1,9,9","190,1,N,0046,1"
2,72469523036,2020-01-01T02:58:00,NaN,NaN,NaN,NaN,"-0138,1",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10122,1","-0013,1","016093,1,9,9","190,1,N,0041,1"
3,72469523036,2020-01-01T03:58:00,NaN,NaN,NaN,NaN,"-0145,1",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10110,1","-0009,1","016093,1,9,9","190,1,N,0046,1"
4,72469523036,2020-01-01T04:58:00,NaN,NaN,NaN,NaN,"-0141,1",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10097,1","-0016,1","016093,1,9,9","180,1,N,0046,1"

In [5]:
weather['DateTime'] = pd.to_datetime(weather.DATE)
weather.tail()

,STATION,DATE,AA1,AJ1,AL1,AT1,DEW,KA1,OC1,MD1,LATITUDE,LONGITUDE,ELEVATION,SLP,TMP,VIS,WND,DateTime
9528,72469523036,2020-12-31T19:58:00,NaN,NaN,NaN,NaN,"-0089,5",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10126,5","+0054,5","016093,5,N,5","040,5,N,0015,5",2020-12-31 19:58:00
9529,72469523036,2020-12-31T20:58:00,NaN,NaN,NaN,NaN,"-0082,5",NaN,NaN,"6,9,010,9,+999,9",39.71667,-104.75,1726.1,"10127,5","+0057,5","016093,5,N,5","360,5,N,0031,5",2020-12-31 20:58:00
9530,72469523036,2020-12-31T21:58:00,NaN,NaN,NaN,NaN,"-0069,5",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10134,5","+0056,5","016093,5,N,5","030,5,N,0026,5",2020-12-31 21:58:00
9531,72469523036,2020-12-31T22:58:00,NaN,NaN,NaN,NaN,"-0068,1",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10141,1","+0041,1","016093,1,9,9","050,1,N,0031,1",2020-12-31 22:58:00
9532,72469523036,2020-12-31T23:58:00,NaN,NaN,NaN,NaN,"-0059,1","060,M,+0063,1",NaN,"2,1,017,1,+999,9",39.71667,-104.75,1726.1,"10153,1","+0005,1","016093,1,9,9","330,1,N,0031,1",2020-12-31 23:58:00

In [6]:
weather_non_indexed = weather
weather = weather.set_index('DateTime')

In [7]:
weather.tail()

,STATION,DATE,AA1,AJ1,AL1,AT1,DEW,KA1,OC1,MD1,LATITUDE,LONGITUDE,ELEVATION,SLP,TMP,VIS,WND
DateTime,,,,,,,,,,,,,,,,,
2020-12-31 19:58:00,72469523036,2020-12-31T19:58:00,NaN,NaN,NaN,NaN,"-0089,5",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10126,5","+0054,5","016093,5,N,5","040,5,N,0015,5"
2020-12-31 20:58:00,72469523036,2020-12-31T20:58:00,NaN,NaN,NaN,NaN,"-0082,5",NaN,NaN,"6,9,010,9,+999,9",39.71667,-104.75,1726.1,"10127,5","+0057,5","016093,5,N,5","360,5,N,0031,5"
2020-12-31 21:58:00,72469523036,2020-12-31T21:58:00,NaN,NaN,NaN,NaN,"-0069,5",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10134,5","+0056,5","016093,5,N,5","030,5,N,0026,5"
2020-12-31 22:58:00,72469523036,2020-12-31T22:58:00,NaN,NaN,NaN,NaN,"-0068,1",NaN,NaN,NaN,39.71667,-104.75,1726.1,"10141,1","+0041,1","016093,1,9,9","050,1,N,0031,1"
2020-12-31 23:58:00,72469523036,2020-12-31T23:58:00,NaN,NaN,NaN,NaN,"-0059,1","060,M,+0063,1",NaN,"2,1,017,1,+999,9",39.71667,-104.75,1726.1,"10153,1","+0005,1","016093,1,9,9","330,1,N,0031,1"